@model IEnumerable<AquaTrack.Models.Fish>

<h2>Fish List</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Add Fish</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Age</th>
            <th>Tank</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fish in Model)
        {
            <tr>
                <td>@fish.Name</td
